<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>288439527861-ibg7citanfvds6t84cu7d0ef0cqj5nhh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.288439527861-ibg7citanfvds6t84cu7d0ef0cqj5nhh</string>
	<key>API_KEY</key>
	<string>AIzaSyBHnuFa_JIHAG-EUl1_HNOdhBeBW7Wu4Pk</string>
	<key>GCM_SENDER_ID</key>
	<string>288439527861</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>host.exp.exponent</string>
	<key>PROJECT_ID</key>
	<string>tinder-clone-586f3</string>
	<key>STORAGE_BUCKET</key>
	<string>tinder-clone-586f3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:288439527861:ios:72f170a67090d88e3411fc</string>
</dict>
</plist>